{% if page.carousel %}
  <div class="flexslider">
    <ul class="slides">
      {% for slides in page.carousel.slides %}
      <li{% if slides.bgimg %} style="background-image: url({{ slides.bgimg | asset_url }}); {{ slides.css }}"{% endif %}{% if slides.url %} data-url="{{ slides.url }}"{% endif %}>
      {{ slides.content }}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% if page.carousel %}
<!-- Flexslider Library  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/jquery.flexslider.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/flexslider.min.css" rel="stylesheet">
<!-- Initialisation Code  -->
<script type="text/javascript">
// Initialise FlexSlider for Carousels
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "fade",
    controlNav: true,
    directionNav: true,
    slideshowSpeed: 5000,
    animationSpeed: 600,
    touch: true
  });
});
</script>
<style>
.flexslider, .flexslider .slides, .flexslider .slides li {
  background-size: contain;
  background-repeat: no-repeat;
  height: {{ page.carousel.height }}px;
}
.flex-direction-nav a {
  height: 3em;
}
</style>
{% endif %}