<!-- Google CDN Hosted jQuery  -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<header>
  {% except page.title %}
  <img class="logo" src="{{ '/img/logo.png' | asset_url }}" alt="Birdy is an Awesome Artist!"/>
  {% endif %}
  <nav>
    <ul>
      <li><a href="/" class="home"></a></li>
      {% assign pages = site.pages | sort: 'priority' %}
      {% for page in pages %}
      {% if page.title and page.menuexclude == nil %}
      <li><a  href="{{ page.url | prepend: site.baseurl }}" title="{% if page.titlebar %}{{ page.titlebar }}{% elsif page.title %}{{ page.title }}{% endif %}" class="{{ page.url | downcase | replace: '/' }}"></a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>