{% capture loadnew %}{{ include.load | replace: '<!-- [', '[' }}{% endcapture %}
{% capture loadnew %}{{ loadnew | replace: '] -->', ']' }}{% endcapture %}
{% capture loadnew %}{{ loadnew | replace: ']</p>', ']' }}{% endcapture %}
{% capture loadnew %}{{ loadnew | replace: '<p>[', '[' }}{% endcapture %}
{% assign shortcodeBegins = loadnew | split: '[' %}
{% if shortcodeBegins.size > 1 %}
	shortcode found
	{% for shortcodeBegin in shortcodeBegins %}
		{% assign shortcodeEnd = shortcodeBegin | split: ']'  %}
		{% assign shortcodeCode = shortcodeEnd.first %}
		{% assign tmp = shortcodeCode | split " " %}
		{% assign shortcode = tmp | first | trim %}
		{{ shortcode }}
	{% endfor %}

	{{ include.load }}
{% else %}
	{{ include.load }}
{% endif %}