{% capture loadnew %}{{ include.load | replace: '<!-- [', '[' }}{% endcapture %}
{% capture loadnew %}{{ loadnew | replace: '] -->', ']' }}{% endcapture %}
{% capture loadnew %}{{ loadnew | replace: ']</p>', ']' }}{% endcapture %}
{% capture loadnew %}{{ loadnew | replace: '<p>[', '[' }}{% endcapture %}
{% assign shortcodeBegins = loadnew | split: '[' %}
{% if shortcodeBegins.size > 1 %}
	shortcode found
	{% for shortcodeBegin in shortcodeBegins %}
		{% capture shortcode %}{{ shortcodeBegin | split: ']' }}{% endcapture %}
		{% capture shortcode %}{{ shortcode.first }}{% endcapture %}
		{% capture codename %}{{ (shortcode | split: ' ')[0] }}{% endcapture %}
	{% endfor %}

	{{ include.load }}
{% else %}
	{{ include.load }}
{% endif %}